.text-center img {
  margin-left: auto;
  margin-right: auto;
}

.text-left img {
  margin-left: 0;
  margin-right: auto;
}

.text-right img {
  margin-left: auto;
  margin-right: 0;
}

.align-center img {
  margin-left: auto;
  margin-right: auto;
}

div.s3-override-left {
  float: left;
  margin-right: 10px;
}

div.s3-override-right {
  float: right;
  margin-left: 10px;
}
